mariadb_aria/create
mariadb_aria/group_by_order
mariadb_aria/import
mariadb_aria/index
mariadb_aria/insert
mariadb_aria/joins
mariadb_aria/log
mariadb_aria/window_function

mariadb_innodb/create
mariadb_innodb/group_by_order
mariadb_innodb/import
mariadb_innodb/index
mariadb_innodb/insert
mariadb_innodb/joins
mariadb_innodb/log
mariadb_innodb/window_function
mariadb_innodb/good

mssql/archive
mssql/create
mssql/group_by_order
mssql/import
mssql/index
mssql/insert
mssql/joins
mssql/log
mssql/window_function
mssql/good

mysql_base/archive

mysql_innodb/create
mysql_innodb/group_by_order
mysql_innodb/import
mysql_innodb/index
mysql_innodb/insert
mysql_innodb/joins
mysql_innodb/log
mysql_innodb/window_function
mysql_innodb/good

mysql_myisam/create
mysql_myisam/group_by_order
mysql_myisam/import
mysql_myisam/index
mysql_myisam/insert
mysql_myisam/joins
mysql_myisam/log
mysql_myisam/window_function

oracle/archive
oracle/docker-images
oracle/results
oracle/results_v2
oracle/results-10-10_18-06
oralce/current_run

oracle/create
oracle/group_by_order
oracle/import
oracle/index
oracle/insert
oracle/joins
oracle/log
oracle/window_function

postgres/create
postgres/group_by_order
postgres/import
postgres/index
postgres/insert
postgres/joins
postgres/log
postgres/window_function